// @Author: Andreee "DevelDoe" Ray <andreeray>
// @Date:   2017-02-17T13:04:02+01:00
// @Email:  me@andreeray.se
// @Filename: app.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-22T23:11:20+01:00

@import 'base/variables';
@import 'components/top-bar';

body{
    font-weight: 300;
    font-size: $font-size;
}

*:focus {
    outline: none;
}

p{
    color: $black;
}

a {
    color: #fff;
    font-weight: 400;
}
a:hover{
    color:#9cdbf5;
}

.page-title {
    color: $black;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

#play {
    width: 0;
    height: 0;
    margin-top: 2px;
    margin-left: 10px;
    border-top: 11px solid transparent;
    border-left: 16px solid #fff;
    border-bottom: 11px solid transparent;
}

.bounce {
  animation: bounce 0.3s;
  opacity: 1;
}

@keyframes bounce {
  0% {transform: scale(0); opacity: 0 }
  50% {transform: scale(1)}
  100% { transform: scale(1); opacity: 1; }
}

#pause {
    position: relative;
    width: 15px;
    height: 21px;
    margin-top: -2px;
    margin-left: 7px;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
}
#spectrum {
    position: absolute;
    top: 0px;
    left: -6px;
    width: 15px;
    height: 15px;
    border-right: 6px solid #2199e8;
    border-left: 6px solid #2199e8;
    opacity: 0.4;
    animation: fakeSpec 1.3s infinite;
}

@keyframes fakeSpec {
    0%   {height: 9px;}
    25%  {height: 10px;}
    35%  {height: 11px;}
    50%  {height: 10px;}
    65%  {height: 11px;}
    100% {height: 9px;}
    95%  {height: 11px;}
    70%  {height: 10px;}
    55%  {height: 8px;}
    50%  {height: 9px;}
    30%  {height: 11px;}
    0%  {height: 9px;}
}
