// @Author: Andreee "DevelDoe" Ray <andreeray>
// @Date:   2017-02-22T22:18:06+01:00
// @Email:  me@andreeray.se
// @Filename: _variables.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-22T22:31:27+01:00


// colors
$black: #252525;

// top-bar colors
$topbar-background: $black;

// text
$letter-spacing: 3px;
$font-size: 13px;

// layout
$space-large: 2.5rem;
