// @Author: Andreee "DevelDoe" Ray <andreeray>
// @Date:   2017-02-22T22:17:42+01:00
// @Email:  me@andreeray.se
// @Filename: _top-bar.scss
// @Last modified by:   andreeray
// @Last modified time: 2017-02-22T23:20:07+01:00

.top-bar, .top-bar ul  {
    background: white;
    letter-spacing: $letter-spacing;
}
.menu > li > a {
    color: $black;
    font-weight: 300;
    line-height: 18px;
}
.menu > .menu-text > a {
    display: inline;
    padding: 0;
}

.menu a:focus {
    color: $black;
}
